.sidebar_container {

    .sidebar_nav {
        .nav-item {



            .nav-link {
                display: flex;
                color: #A0AEC0;
                align-items: center;
                font-weight: 600;

                .nav-link-icon {
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 12px;
                    background-color: #fff;
                    color: #4FD1C5;
                    height: 30px;
                    width: 30px;
                    margin-inline-end: 12px;
                }

                &.active {
                    color: #000;
                    background-color: #ccc;
                    border-radius: 10px;

                    .nav-link-icon {
                        font-size: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 12px;
                        background-color: #4FD1C5;
                        color: #fff;
                        height: 30px;
                        width: 30px;
                        margin-inline-end: 12px;
                    }
                }
            }
        }
    }

}